/* font-family: 'Montserrat', sans-serif;
font-family: 'PT Serif', serif; */
body{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}
main{
    width: 80vw;
    margin: 10vh auto;
    height: auto;
}
.top h1{
    font-family: 'PT Serif', serif;
}
.top{
    display: flex;
    justify-content: space-between;
}
.topRight{
    width: 40%;
}
.pic{
    width: 250px;
    height: 400px;
    margin: 5%;
}
img{
    width: 100%;
    height: 100%;
}
.bot{
    display: block;
    font-weight: 600;
}

.pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.rotated{
    transform: rotate(90deg);
    position: relative;
    left: 55%;
    top: -80%;
    height: fit-content;
    text-transform: uppercase;
}
.pic:nth-of-type(2),.pic:nth-of-type(5){
    margin-top: 10%;
}
footer{
    text-align: center;
    padding: 2%;
    font-family: 'Montserrat', sans-serif;
    color: #BDBDBD;
}
a{
    text-decoration: none;
    color: #BDBDBD;
    border-bottom: 1px solid #BDBDBD;
}
@media screen and (max-width: 600px) {
    .top{
        flex-wrap: wrap;

    }
    .topRight{
        width: 100%;
    }
    .pic{
        width: 300px;
        margin: 5%;
    }
    .rotated{
        transform: rotate(90deg);
        position: relative;
        top: -75%;
        height: fit-content;
        text-transform: uppercase;
    }
}